@include component(alert) {
    position: relative;
    @include rem-spacing (padding, 10, 38, 10, 18);
    @include rem-spacing (margin-bottom, 14);
    border: 1px solid transparent;
    border-radius: 4px;
    @include transition(1s);

    @include component(close-alert) {
    	position: absolute;
    	right: 10px;
    	top: 0;
    	color: $theme-white;
    	@include fontSize($font-size-medium);
    	line-height: 2.5;
    }

    @include option(success) {
    	background-color: $theme-success;
	    color: $theme-white;
	    border-color: $theme-success;
    }

    @include option(warning) {
    	background-color: $theme-warning;
	    color: $theme-white;
	    border-color: $theme-warning;
    }

    @include option(info) {
    	background-color: $theme-info;
	    color: $theme-white;
	    border-color: $theme-info;
    }

    @include option(danger) {
    	background-color: $theme-danger;
	    color: $theme-white;
	    border-color: $theme-danger;
    }
}