@include component(btn) {
	//border-radius: 3.5px;
	@include rem-spacing(padding, 10, 18);
	display: inline-block;
	@include transition(0.4s);
	//border: 1px solid transparent;
	letter-spacing: 1px;
	cursor: pointer;
	text-align: center;
	@include fontSize($font-size-medium);
	@include rem-spacing (margin-bottom, 10);
	

	@include option(btn-primary) {
		background: $theme-primary;
		color: white;
		border-color: $theme-primary;
	}

	@include option(btn-outline-primary) {
		background: transparent;
		color: $theme-primary;
		border-color: $theme-primary;

		&:hover{
			background: $theme-primary;
			color: $theme-white;
		}
	}

	@include option(btn-secondary) {
		background: $theme-secondary;
		color: white;
		border-color: $theme-secondary;
	}

	@include option(btn-outline-secondary) {
		background: transparent;
		color: $theme-secondary;
		border-color: $theme-secondary;

		&:hover{
			background: $theme-secondary;
			color: $theme-white;
		}
	}

	@include option(btn-small) {
		@include rem-spacing(padding, 4, 10);
		@include fontSize($font-size-small);
	}

	@include option(btn-block) {
		width: 100%;
		display: block;
	}

	@include option(football) {
		background-color: $theme-football;
		text-transform: uppercase;
	}

	@include option(athletics) {
		background-color: $theme-athletics;
		text-transform: uppercase;
	}

	@include option(tennis) {
		background-color: $theme-tennis;
		text-transform: uppercase;
	}

	@include option(eupepsia) {
		background-color: $theme-eupepsia;
		text-transform: uppercase;
	}

	// &:hover{
	// 	@include opacity(0.8);
	// }
}