@include component(sec-padding) {
	@include rem-spacing(padding, 80, 0);
	
	@media (max-width:767px){
		@include rem-spacing(padding, 30, 0);
	}

	@include option(small) {
		@include rem-spacing(padding, 40, 0);
	}

	@include option(xsmall) {
		@include rem-spacing(padding, 30, 0);
	}
}

@include component(container-wrapper) {
	max-width: 1400px;
	@include rem-spacing (padding, 0, 60);
	margin: 0 auto;

	@media (max-width: 767px) {
		@include rem-spacing (padding, 0, 30);
	}
}

@include component(divider) {
	background-color: $theme-secondary;
	@include size(100%, 2px);
	max-width: 1280px;
	margin: 0 auto;

	@media (max-width: 767px) {
		max-width: 1340px;
	}
}

@include component(maintitle) {
	color: $theme-primary;
	@include fontSize($font-size-h1);
	text-transform: uppercase;
	@include rem-spacing (margin-bottom, 20);
	line-height: 1.2;

	@media (max-width: 991px) {
		@include fontSize($font-size-h1 - 10px);
	}

	@media (max-width: 767px) {
		@include fontSize($font-size-h1 - 20px);
	}

	@media (max-width: 575px) {
		@include fontSize($font-size-h2);
	}
}

@include component(maindesc) {
	
	@include option(big) {
		@include fontSize($font-size-h6);

		@media (max-width: 767px) {
			@include fontSize($font-size-large);
		}
	}
}

@include component(partners-section) {
	display: flex;
	flex-direction: row;

	@media (max-width: 575px) {
		display: block;
	}
}

@include component(contact-cta, academy-section) {
	display: flex;
	flex-direction: row;
	@include rem-spacing (margin-bottom, 30);

	@media (max-width: 767px) {
		display: block;
	}
}

@include component(join-academy-section) {
	//background-color: $theme-secondary;
	//@include rem-spacing (padding, 80, 40);
	//@include rem-spacing (margin, 40, 0);
}

@include component(download-application) {
	display: flex;
	align-items: center;
	justify-content: center;
	@include rem-spacing (margin-top, 40);

	picture {
		display: block;
		width: 180px;
	}
}

@include component(mobile-icon) {
	
	@media (max-width: 991px) {
		@include rem-spacing (margin-top, 40);
		display: block;
	}
}

// About Page
@include component(aboutpage-section) {
	@include rem-spacing (padding, 60, 0);

	@media (max-width: 767px) {
		@include rem-spacing (padding, 40, 0);
	}
	
	@include component(logo-icon) {
		display: block;
		width: 140px;
		float: right;

		@include option(big) {
			width: 220px;
		}

		@include option(laliga) {
			width: 280px;

			@media (max-width: 575px) {
				width: 200px;
			}
		}

		@media (max-width: 991px) {
			float: none;
			@include rem-spacing (margin-bottom, 10);
		}
	}

	@include component(content-section) {
		@include rem-spacing (margin-top, 20);

		@media (max-width: 767px) {
			@include rem-spacing (margin, 0);
		}
	}

	@include component(gallery-section) {

		@include component(title) {
			color: $theme-primary;
			@include fontSize($font-size-h2 + 10px);
			text-transform: uppercase;
			text-align: center;
			@include rem-spacing (margin, 40, 0);
			@include rem-spacing (padding, 10, 0);
			border-top: 2px solid $theme-lg-grey;
			border-bottom: 2px solid $theme-lg-grey;
		}
	}

	@include component(more-detail) {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		@include component(logo) {
			flex-grow: 1;
			text-align: center;
			border-right: 1px solid $theme-grey;

			img	{
				width: 200px;
				@extend .m-auto;
			}
		}

		@include component(detail) {
			flex-grow: 1;
		}

		@include component(text) {
			@include fontSize($font-size-h3);
			//text-transform: uppercase;
			font-weight: $font-weight-bold;
			@include rem-spacing (margin-right, 10);
			display: block;

			@media (max-width: 575px) {
				//@include fontSize($font-size-h2);
			}
		}

		@include component(btn) {
			//@include fontSize($font-size-h3);
			//text-transform: uppercase;
			@include rem-spacing (margin-bottom, 0);
		}
	}

	@include option(eupepsia-section) {
	
		@include component(maintitle) {
			color: $theme-eupepsia;
		}

		@include component(more-detail) {
			color: $theme-blue;
		}
	}

	@include option(laliga-section) {
	
		@include component(maintitle) {
			color: $theme-black;
		}

		@include component(register-now) {
			background-color: $theme-football;
			text-transform: uppercase;
			@include fontSize($font-size-h3);
		}

		@include component(more-detail) {
			color: $theme-football;
		}
	}

	@include option(athletics-section) {
		
		@include component(maintitle) {
			color: $theme-black;
		}

		@include component(register-now) {
			background-color: $theme-athletics;
			text-transform: uppercase;
			@include fontSize($font-size-h3);
		}

		@include component(more-detail) {
			color: $theme-athletics;
		}
	}

	@include option(tennis-section) {
		
		@include component(maintitle) {
			color: $theme-black;
		}

		@include component(register-now) {
			background-color: $theme-tennis;
			text-transform: uppercase;
			@include fontSize($font-size-h3);
		}

		@include component(more-detail) {
			color: $theme-tennis;
		}
	}
}