@include component(primary-footer) {
	@include rem-spacing (margin-top, 0);
	
	// @include component(contact-section) {
		
	// 	@include component(title) {
	// 		display: flex;
	// 		font-weight: $font-weight-bold;
	// 		color: $theme-primary;
	// 		text-transform: uppercase;
	// 		@include fontSize($font-size-h2 + 20px);
	// 		align-items: end;
	// 		@include rem-spacing (margin-bottom, 40);

	// 		span {
	// 			@include rem-spacing (margin-left, 10);
	// 			line-height: 1;
	// 		}
	// 	}

	// 	@include component(footer-links) {
			
	// 		li {
	// 			@include rem-spacing (margin-bottom, 6);

	// 			a {
	// 				text-transform: uppercase;
	// 				color: $theme-primary;
	// 				font-weight: $font-weight-light;
	// 				@include fontSize($font-size-h3);
	// 				@extend .ff-secondary;
	// 			}
	// 		}
	// 	}
	// }

	// @include component(map-section) {
	// 	display: flex;
	//     justify-content: flex-end;
	// }

	// @include component(social-media-section) {
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: flex-end;
	// 	@include rem-spacing (margin-top, 40);

	// 	picture {
	// 		@include rem-spacing (margin-left, 20);
	// 	}
	// }

	@include component(reach-out-section) {
		background-color: $theme-secondary;
		@include rem-spacing (padding, 30, 40);

		@include component(title) {
			display: flex;
			@include fontSize($font-size-h1 + 30px);
			text-transform: uppercase;
			color: $theme-black;
			align-items: flex-start;
			justify-content: center;
			@include rem-spacing (margin-bottom, 30);

			@media (max-width: 767px) {
				@include fontSize($font-size-h1 - 20px);
				text-align: center;
				line-height: 1.2;
			}
		}

		@include component(message-icon) {
			max-width: 160px;
		}

		@include component(footer-links) {
			
			li {
				@include rem-spacing (margin, 0, 30);

				a {
					text-transform: uppercase;
					color: $theme-black;
					font-weight: $font-weight-light;
					@include fontSize($font-size-h3);
					@extend .ff-secondary;
					line-height: 1;
				}

				&:first-child {
					@include rem-spacing (margin-left, 0);
				}

				&:last-child {
					@include rem-spacing (margin-right, 0);
				}

				@media (max-width: 1200px) {
					@include rem-spacing (margin, 0, 20);

					a {
						@include fontSize($font-size-h4);
					}
				}

				@media (max-width: 991px) {
					@include rem-spacing (margin, 0, 10);

					a {
						@include fontSize($font-size-h6);
					}
				}

				@media (max-width: 767px) {
					display: block;
					@include rem-spacing (margin, 0, 0, 10);

					a {
						@include fontSize($font-size-large);
					}
				}
			}

			@media (max-width: 767px) {
				text-align: center;
				@include rem-spacing (margin-bottom, 30);
			}
		}

		@include component(social-links) {

			li {
				@include rem-spacing (margin, 0, 10);

				&:first-child {
					@include rem-spacing (margin-left, 0);
				}

				&:last-child {
					@include rem-spacing (margin-right, 0);
				}

				a {
					width: 38px;
					display: block;
				}
			}

			@media (max-width: 767px) {
				text-align: center;
			}
		}

		@media (max-width: 767px) {
			@include rem-spacing (padding, 30, 20);
		}

	}

	@include component(copyright) {
		// border-top: 3px solid $theme-secondary;
		// @include rem-spacing (margin-top, 10);
		@include rem-spacing (padding, 20, 0);

		@include component(title) {
			color: $theme-sp-grey;
			text-transform: uppercase;
			text-align: center;
			@include fontSize($font-size-medium);
		}
	}
}