@include component(primary-navigation) {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;

	@include component(header-navigation) {
		//@include rem-spacing (margin-right, 20);
		position: absolute;
		right: 50px;
		top: 0;
		@include transition(2s);
		display: none;
		
		ul {
			//width: 0;
			// @include transition(0.3s width);
			// overflow: hidden;
		}

		li {
			@include rem-spacing (padding, 0, 14);
			border-right: 2px solid $theme-secondary;
			line-height: 1;
			text-align: center;
			display: inline-block;

			a {
				color: $theme-white;
				text-transform: uppercase;
				@include fontSize($font-size-h5);
				@extend .ff-secondary;
				line-height: 1;

				&:hover {
					color: $theme-football;
				}

				@media (max-width: 1200px) {
					@include fontSize($font-size-large);
				}
			}

			@media (max-width: 1200px) {
				@include rem-spacing (padding, 0, 10);
			}

			&:last-child {
				@include rem-spacing (padding-right, 0);
				border: none;
			}
		}

		&.nav-active {
			display: block;
		}

		@media (max-width: 1200px) {
			top: 4px;
		}

		@media (max-width: 991px) {
			background-color: $theme-black;
			@include rem-spacing (padding, 10, 20);
			top: 30px;
			right: 0;
			@include rem-spacing (margin, 0);
			z-index: 12;

			ul {

				li {
					display: block;
					border: none;
					@include rem-spacing (padding, 0);
					@include rem-spacing (margin, 0, 0, 10);

					a {
						@include fontSize($font-size-h5);
					}
				}
			}

		}
	}

	.innerpage & {

		@include component(header-navigation) {
			
			li {

				a {
					color: $theme-primary;

					@media (max-width: 991px) {
						color: $theme-white;
					}
				}

			}
		}
	}
}