// @font-face {
// 	font-family: 'Trump Gothic East';
// 	src:url('fonts/TrumpGothicEast_bold.ttf') format("truetype"),
// 		url('fonts/TrumpGothicEast_bold.woff2') format("woff2"),
// 		url('fonts/TrumpGothicEast_bold.woff') format("woff");
// 		font-weight:700;
// 		font-style:normal;
// }


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$base-font-family		:   'Roboto', sans-serif !default;
$heading-font-family	:   'Oswald', sans-serif !default;
$base-line-height		: 	1.5;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$base-font-size			: 	14px !default;
$font-size-h1			: 	70px;
$font-size-h2			: 	34px;
$font-size-h3			: 	26px;
$font-size-h4			: 	24px;
$font-size-h5			: 	22px;
$font-size-h6			: 	20px;

$font-size-xsmall		: 	10px;
$font-size-small		: 	12px;
$font-size-medium		: 	16px;
$font-size-large		: 	18px;

$font-weight-xblack		: 	900;
$font-weight-black		: 	800;
$font-weight-bold		: 	700;
$font-weight-semi-bold	: 	600;
$font-weight-medium		: 	500;
$font-weight-normal		: 	400;
$font-weight-light		: 	300;
$font-weight-thin		: 	100;


//== Color Variation
//
//## Text color, Background color, Border color.

$theme-default	: 	#414042;
$theme-white	: 	#ffffff;
$theme-black	: 	#000000;
$theme-grey		: 	#666666;
$theme-lg-grey	: 	#c8c9ca;
$theme-sp-grey	: 	#4b545c;
$theme-dk-grey	: 	#343a40;
$theme-border	: 	#dee2e6;

// Theme Colors
$theme-primary 	: 	#482e74;
$theme-secondary: 	#ffbe00;

$theme-football :	#e12e2e;
$theme-athletics:	#ffb400;
$theme-tennis 	: 	#3e2b64;
$theme-padel 	: 	#2D2C2C;
$theme-rugby 	: 	#7f7f7f;

$theme-eupepsia :	#2f318f;
$theme-brown 	: 	#d37d4a;
$theme-green 	: 	#00a551;
$theme-blue 	: 	#00a4de;

$link-color		: 	#414042;

// Extra Colors
$theme-success 	: 	#2ed8b6;
$theme-danger 	: 	#ff5370;
$theme-warning  : 	#ffb64d;
$theme-info		: 	#00bcd4;
